:root {
  font-family: "GT Walsheim Pro", sans-serif;
  font-weight: 400;

  white-space: nowrap;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
}

p{
  text-wrap: wrap;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}

.link{
  text-decoration: none;
  cursor: pointer;
}
.link:hover{
  text-decoration: underline;
}
.m-10-20{
  margin: 10px 20px;
}
.dot {
  height: 4px;
  width: 4px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
}
.bordered{
  border: 2px solid black;
  border-radius: 20px;
  padding: 4px;
  min-width: 126px;
  max-height: 42px;
  display: flex;
  justify-content: center;
  margin-right: 40px;
}
.vertical-line {
  border-left: 2px solid #D5D5D5;
  height: 650px;
}

.fs64{ font-size: 64px; font-weight: 500; letter-spacing: normal; line-height: 100%}
.fs42Medium{ font-size: 42px; font-weight: 500; letter-spacing: normal; line-height: 100%}
.fs42{ font-size: 42px; font-weight: 400; letter-spacing: normal; line-height: 100%}
.fs32{ font-size: 32px; font-weight: 500; letter-spacing: normal; line-height: 100%}
.fs24{ font-size: 24px; font-weight: 400; letter-spacing: normal; line-height: 100%}
.fs24Medium{ font-size: 24px; font-weight: 500; letter-spacing: normal; line-height: 100%}
.fs20Medium{ font-size: 20px; font-weight: 500; letter-spacing: normal; line-height: 140%}
.fs20{ font-size: 20px; font-weight: 400; letter-spacing: normal; line-height: 140%; font-style: oblique}
.fs15{ font-size: 15px; font-weight: 400; letter-spacing: normal; line-height: 140%}
.color-gray{ color: #9B9B9B;}
